# VARIABLES

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

#### Nombres de las variables y palabras resevadas

Los nombres de las variables por convención tienen nombres descriptivos. Estas variables siempre deben empezar por una letra, por ejemplo, si queremos crear una variable que almacene el nombre de usuario y documento de una persona, tenemos estas dos convenciones:



<div id="a" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">1. Formas correctas de designar variables</h1>
    <p class="lead">Utilizar nombres descriptivos y en minúsculas. Para nombres compuestos, separar las palabras por guiones bajos. Antes y después del signo =, debe haber uno (1), <b>solo un espacio en blanco</b>.</p>
      	<ul>
		<i>nombre_de_usuario = 12<br></i>
		<i>nombre_de_usuario = 12<br></i>
		<i>nombreDeUsuario = 12<br></i>
		<i>nombreUsuario = 12<br></i>
	</ul>
      
  </div>
</div>

<div id="a" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">2. Utilizar nombres descriptivos y en mayúsculas, separando palabras por guiones bajos. Ejemplo:</h1>
    <p class="lead"></p>
      <p>MI_CONSTANTE = 12</p>
  </div>
</div>

Para definir los lados de un triangulo pueden ser

>cateto_uno

>catetoDos

# PALABRAS RESERVADAS

Como ya sabes, en el sistema existen palabras reservadas, estas palabras no se pueden utilizar como nombres de variables... bueno, sí se puede, pero es una práctica horrible, hacerlo.

In [ ]:
palabras_reservadas=[
and
continue
else 
for 
import 
not 
raise
assert 
def 
except 
from 
in 
or 
return
break 
del 
exec 
global 
is 
pass 
try
class 
elif 
finally 
if 
lambda 
print ]

# Intentaremos utilizar una palabra reservada como variable

In [ ]:
print=hola mundo

# Intenta utilizar otra palabra reservada como variable

# Las variables tienen ciertas reglas

1. No adminten que se inicien con números.
2. No admite que se inicien con símbolos.
3. Para efectos de Python, utilizaremos variables separadas por guiones bajos (**_**).

# TIPOS DE DATOS

<div id="a" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">3. Ahora vamos a utilizar a Python para entender los tipos de datos</h1>
    <p class="lead"></p>
      <p>MI_CONSTANTE = 12</p>
        
        
  </div>
</div>

| Tipo      | Clase           | Notas                                                   | Ejemplo                         |
|-----------|-----------------|---------------------------------------------------------|---------------------------------|
| str       | Cadena          | Inmutable                                               | 'Cadena'                        |
| unicode   | Cadena          | Versión Unicode de str                                  | u'Cadena'                       |
| list      | Secuencia       | Mutable, puede contener objetos de diversos tipos       | [4.0, 'Cadena', True]           |
| tuple     | Secuencia       | Inmutable, puede contener objetos de diversos tipos     | (4.0, 'Cadena', True)           |
| set       | Conjunto        | Mutable, sin orden, no contiene duplicados              | set([4.0, 'Cadena', True])      |
| frozenset | Conjunto        | Inmutable, sin orden, no contiene duplicados            | frozenset([4.0,'Cadena', True]) |
| dict      | Mapping         | Grupo de pares clave:valor                              | {'key1': 1.0, 'key2': False}    |
| int       | Número Entero   | Precisión fija, convertido en long en caso de overflow. | 42                              |
| long      | Número entero   | Precisión arbitraria                                    | 42L ó456966786151987643L        |
| float     | Número decimal  | Coma flotante de doble precisión                        | 3.1415927                       |
| complex   | Número complejo | Parte real y parte imaginaria j.                        | (4.5 + 3j)                      |
| Bool      | Booleano        | Valor booleano verdadero o falso                        | True o False                    |

*Mutable: si su contenido (o dicho valor) puede cambiarse en tiempo de ejecución.

*Inmutable: si su contenido (o dicho valor) no puede cambiarse en tiempo de ejecución.

**Aunque existen muchos tipos de datos, los más comunes son:**

* Booleanos (son datos que son verdaderos o falsos).
* Int (números enteros).
* Float (números decimales).
* String (cadenas de caracteres).
* Array (lista de datos).

In [ ]:
#Ejemplo de Booleanos

verdadero = True #Verdadero
print(verdadero)

In [ ]:
verdadero = False #falso
print(verdadero)

In [ ]:
falso = False

if( falso == verdadero):{
  print(Falso):
  print(verdadero)
}

Antes de continuar con los otros tipos de datos, intentaremos el siguiente ejercicio:

**Interamos utilizar palabras resevadas como variable**

In [ ]:
#utilizaremos elif
print()

**Intentaremos declarar una variable string (cadena de caracteres) y asignarle un valor:**

In [ ]:
#elif = "hola mundo"
elif = "hola mundo"

**Ahora intenta 3 ejercicios y observa los resultados.**

Intenta empezar la variable con algún símbolo.

1.   Empieza la variable con algún símbolo.
2.   Intenta iniciar la variable con un número.
3.   Intente iniciar la variable con mayúsculas.

**Otras de estas palabras reservadas puede ser (type), para conocer los tipos de datos.**

In [ ]:
type("Hola, mundo")

In [ ]:
type(4)

In [ ]:
type(3.4)

**Asignaremos un valor a una variable y obtendremos el tipo de dato de la variable:**

In [ ]:
#Ejemplo
mes_de_nacimiento = ("septiembre")
#Recuerda que como es una variable de tipo string debe colocarse entre comillas
type(mes_de_nacimiento)

Ahora intentaremos asignar un número a una variable y utilizar la palabra reservada **type** para verificar su tipo.

Ahora convertiremos la variable de tipo **entero(int) en flotante(float)**

Sigue el siguiente ejemplo:
float(variable)

In [ ]:
a = 5
print(a)

## Ahora le sumaras 0.35 a la variable:
**Ejemplo:**

variable = variable + 0.3

o puedes utilizar

variable +=0.3

In [ ]:
variable =3
variable +=0.3
type(variable)

Ahora convertirás una variable **fotante(float) en entera(int)**

<div id="a" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">4. Exploraremos la operación entre variables:</h1>
    <p class="lead"></p>
      <p>
<h4>Ejercicio</h4>
<p>Crea dos variables, una que contenga 'Hola' y otra que contenga 'Mundo', luego procede a imprimirlas juntas.</p>

<p><b>Clave</b>: Recuerda que, además de sumar datos, puedes sumar palabras, y que también puedes dejar espacios entre los <i>String</i>.</p>
  </div>
</div>

In [ ]:
variable1 = 'Hola'
variable2 = 'Mundo'
print (variable1+" "+variable2)
print (variable1,variable2)

**Ejercicio**
Crearemos 3 variables y las concatenaremos; deben decir algo así: 

Mi nombre es ***variable_nombre*** y nací el ***varaible_fecha*** por eso tengo la edad de ***edad***.

**Cadenas o String**

In [ ]:
'El conflicto ha "terminado", ¿o eso parece?'

El formato unicode, permite crear cadenas que puedan ser llevadas a los otros formatos:

In [ ]:
u'Hola Mundo!'

Entre los contenidos tenemos el tipo lista, o *array*: este tipo de contenido puede contener múltiples elementos.

In [ ]:
vectorLista = [2,3,4,5]
vectorLista

In [ ]:
Matriz = [[1,2,3],[4,5,6],[7,8,9]]
Matriz


**Más sobre listas**

El tipo de dato lista tiene algunos métodos más. Aquí están todos los métodos de los objetos lista:

`list.append(x)`

Agrega un ítem al final de la lista. Equivale a *a[len(a):] = [x]*:

`list.extend(L)`

Extiende la lista agregándole todos los ítems de la lista dada. Equivale a *a[len(a):] = L*:

`list.insert(i, x)`

Inserta un ítem en una posición dada. El primer argumento es el índice del ítem delante del cual se insertará, por lo tanto a*.insert(0, x)* inserta al principio de la lista, y *a.insert(len(a), x)* equivale a *a.append(x)*:

`list.remove(x)`

Quita el primer ítem de la lista cuyo valor sea *x*. Es un error si no existe tal ítem:

`list.pop([i])`

Quita el ítem en la posición dada de la lista, y lo devuelve. Si no se especifica un índice, *a.pop()* quita y devuelve el último ítem de la lista. (Los corchetes que encierran a *i* en la firma del método denotan que el parámetro es opcional, no que deberías escribir corchetes en esa posición. Verás esta notación con frecuencia en la Referencia de la Biblioteca de Python):

`list.clear()`

Quita todos los elementos de la lista. Equivalente a del *a[:]*:

`list.index(x)`

Devuelve el índice en la lista del primer ítem cuyo valor sea *x*. Es un error si no existe tal ítem:

`list.count(x)`

Devuelve el número de veces que *x* aparece en la lista:

`list.sort(key=None, reverse=False)`

Ordena los ítems de la lista *in situ* (los argumentos pueden ser usados para personalizar el orden de la lista, ve *sorted()* para su explicación):

`list.reverse()`

Invierte los elementos de la lista *in situ*:

`list.copy()`

Devuelve una copia superficial de la lista. Equivalente a *a[:]*:

# Ejemplo:

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1, 3, 9, 8]

x = points.count(9)
print(x)

# Tuplas
Aunque sean similares a las Listas (vectores), la diferencia es que las tuplas son inmutables, no se pueden alterar y se utiliza *()* para crearlas:

In [ ]:
tupla=(25, "Mayo", 1810)
tupla

**Set** es un conjunto de datos no ordenados que no se repiten y son mutables:

In [ ]:
conjunto = set(['a', 'b', 'c', 'c', 'b', 'a'])

¿Qué crees que va a pasar si lo ejecutamos?

In [ ]:
conjunto

***frozenset* es un conjunto de datos no ordenados que no se repiten y son inmutables:**

In [ ]:
conjuntoDos = frozenset(['a', 'b', 'c', 'c', 'b', 'a'])

Diccionarios o *dict*, es una colección de datos con un indice:

Ejemplo:

In [ ]:
punto = {'x': 2, 'y': 1, 'z': 4}
punto

# 5. FIN.